.primaryDeep{
    color: #2783ce;
}
.primaryLight{
    color:#03bbe0;
}

.successDeep{
    color:#45bb2b;
}
.successLight{
    color:#70d445;
}
.warningDeep{
    color:#cb2616;
}
.warningLight{
    color:#e83d2c;
}
.backgroundColor{
    color:#fff;
}

.gary1{
    color: #565e62
}
.gary2{
    color: #747a7d;
}
.gary3{
    color: #a3a7a9;
}
.gary4{
    color: #c6c9ca;
}
.gary5{
    color: #d8dadb;
}
.gary6{
    color: #a3a7a9;
}
.floatLeft{
    float: left;
}
.floatRight{
    float: right;
}
.widthPercent25{
    width: 25%;
}
.widthPercent50{
    width: 50%;
}
.widthPercent33{
    width: 33.333333%;
}
.textAlignCenter{
    text-align: center;
}

ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
/* 一般用于 用于标题蓝色 */
.blue1{
 color:  rgb(46,138,205) !important;
}
.black1{
    color: rgb(55,60,65) !important;
}

/* 用于无限延伸横幅广告图片 */
.horizontalExpand{
    background-image: url("../routes/Images/bgExpandsForever450.png") ;
    background-repeat: repeat-x;
    height: 450px;
    background-size: 100%;
}
/* 开发者社区 */
.horizontalExpand630{
    background-image: url("../routes/Images/bgExpandsForever450.png") ;
    background-repeat: repeat-x;
    height: 630px;
    background-size: 100%;
}
/* 登录 */
.horizontalExpand644{
    background-image: url("../routes/Images/bgExpandsForever450.png") ;
    background-repeat: repeat-x;
    height: 630px;
    background-size: 100%;
}
a{
    text-decoration:none;
    color:white;
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
}
/* 容器 */
.container{
  max-width : 1200px;
  width : 1200px;
  height : 100%;
  margin: auto;
}